body {
    width: 100%;
    height: 100%;
    background-image: url('fond-abstrait-etoiles-espace_828631-5782.jpg.webp');
    margin: 0;
    overflow: hidden; /* Evite la scrollbar */
  
    /* Center items */
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    opacity: 0.6;
}
.crawl {
    /* centrage de l'élément' */
    position: absolute;
    top: 45%;
    left: 50%;
    width: 800px;
    margin: 0 0 0 -400px;
    top: auto;
    bottom: 0;
    height: 50em;
    /* cosmétique */
    color: aqua;    
    font-size: 64px;
    text-align: justify;
    /* Applique la transformation  */
    transform-origin: center bottom;
    transform: perspective(300px) rotateX(25deg);
}

.crawl > div {
    /* positionne la div en bas de l'écran (non visible) */
    /* l'animation la fait remonter progressivement */
    position: absolute;
    top: 100%; 
    animation-delay: 1s; /* Démarre l'animation après la première */
    animation-duration: 20s;
    animation-name: crawl;
    animation-timing-function: linear;
}

@keyframes crawl {
    0% {
        top: 100%;
        opacity: 1;
    }

    80% {
        opacity: 1; /* disparition progressive à la fin */
    }

    100% {
        top: 0;
        opacity: 0;
    }
}